<p id="notice"><%= notice %></p>

<h1>Sentences</h1>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Jp</th>
      <th>score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sentences.each do |sentence, score| %>
      <tr>
        <td><%= sentence.no %></td>
        <td><%= sentence.jp %></td>
        <td><%= score %></td>
        <td><%= link_to 'Show', sentence %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @sentences %>

