<!DOCTYPE html>
<html lang="ja">
<p id="notice"><%= notice %></p>

<p>
  <strong>No:</strong>
  <%= @sentence.no %>
</p>

<p>
  <strong>Score:</strong>
  <%= @sentence.score_with(current_user) %>
</p>

<p>
  <strong>Jp:</strong>
  <%= @sentence.jp %>
</p>

<div id="disp" style="visibility:hidden">
  <p>
    <strong>En:</strong>
    <%= @sentence.en %>
  </p>
</div>

<form>
<input type="button" value="答え表示" onclick="hyoji1(0)">
<input type="button" value="答え非表示" onclick="hyoji1(1)">
</form>

<br>
<input type="button" onclick="ring();" value="voice">
<br>

<p>
<audio id="test_sound" preload="none">
  <source src="<%= @sentence.voice_data %>" type="audio/mp3">
</audio>
</p>



<%= button_to "書かずに正解", "/score_eng_not_writtens/", {method: :post, params: {:score_eng_not_written => {passed: true, sentence_id: @sentence.id, user_id: current_user.id}}} %>
<br>
<%= button_to "書かずに不正解", "/score_eng_not_writtens/", {method: :post, params: {:score_eng_not_written => {passed: false, sentence_id: @sentence.id, user_id: current_user.id}}} %>
<br>


<input type="text" size="<%= @sentence.en.size %>" name="text1" >
<%= button_to "書いて正解", "/score_eng_writtens/", {method: :post, params: {:score_eng_written => {passed: true, sentence_id: @sentence.id, user_id: current_user.id}}} %>
<br>
<%= button_to "書いて不正解", "/score_eng_writtens/", {method: :post, params: {:score_eng_written => {passed: false, sentence_id: @sentence.id, user_id: current_user.id}}} %>

<br>

<%= form_tag({controller: "sentences", action: "search"}, method: "get") do %>
  <%= label_tag(:no, "sentence no") %>
  <%= text_field_tag(:no) %>
  <%= submit_tag("Go!") %>
<% end %>

<br>
<hr>

<%= link_to 'Prev', sentence_path(current_user.view_model.prev_sentence(@sentence)) %>    
<%= link_to 'Next', sentence_path(current_user.view_model.next_sentence(@sentence)) %>

<br>
<br>

<script>
  function hyoji1(num)
  {
    if (num == 0)
    {
      document.getElementById("disp").style.visibility="visible";
    }
    else
    {
      document.getElementById("disp").style.visibility="hidden";
    }
  }

  function ring() {
     document.getElementById("test_sound").play();
  }
</script>

</html>
